@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); /*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*font-family: 'Lato', sans-serif;*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5;
}
/*-----------Header del producto-------------*/
.header{
    width: 100%;
    padding: 10px 40px 10px 40px;
    background-color: #0178C8;
}
/*-----------Editando el título del header---------*/
.header .titulo{
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.container > .texto{
    margin: 10px 20px;
    font-family: 'Poppins', sans-serif;
}

/*----------Inicio a editar el conteiner main----------*/
.main > .container{
    width: 100%;
    min-height: calc(100vh - 76px - 85px);
    display: flex;
    flex-direction: column;
    border: red solid 4px;
    padding: 10px 20px;
    font-size: 16px;
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------Editando el contenido de la tarjeta-------------*/
.container > .cont-taj{
    display: flex;
    background-color: palegoldenrod;
    align-items: center;
    justify-content: center;
    
}
/*-------------Editando la tarjeta de crédito------------*/
.tarjeta{
    max-width: 340px;
    border-radius: 10px;
    background: url(./img/fondo.jpg);
    background-size: cover;
    padding: 30px;
    box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
    z-index: 20;
}
.tarjeta > div{
    margin-bottom: 6px;
}
.tarjeta .title-card{
    width:100%;
    text-align: end;
    color: #363636;
    font-size: 22px;
    font-family: 'Pacifico', cursive;
}
.tarjeta .chip-card{
    width: 100%;
}
.tarjeta .chip-card >img{
    width: 44px;
    height: 34px;
}
.tarjeta .number-card > span{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.tarjeta .number-card > .numero-name,
.tarjeta .flex-name .nombre-card .name-name,
.tarjeta .flex-name .fecha-card .fecha-name{
    color: #D0CCD0;
}
.tarjeta .number-card > .numero,
.tarjeta .flex-name .nombre-card .name,
.tarjeta .flex-name .fecha-card .fecha{
    color: #ffffff;
}
.tarjeta .flex-name{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    
}
.tarjeta .flex-name >div{
    width: 50%;
}
.tarjeta .fecha-card{
    text-align: end;
}
.tarjeta .fecha-card > span{
    display: block;
}

/*-----------Editando footer---------*/
.footer{
    width: 100%;
    background-color: #0D1321;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    text-align: center;
}

